extends layout

block content
    include partials/header.pug
    div(
        class='page-header header-filter header-bkgrd',
        data-parallax='true'
    )
        div(class='container')
            div(class='row')
                div(class='col-md-8 ml-auto mr-auto')
                    div(class='brand-heading text-center')
                        h1(class='header-title') Get Messy
                        h3(class='header-title') Start Smashing
                        button(type="button" class="btn btn-primary" data-toggle="modal" data-target="#regModal") Register
    div(class='main-section section-raised')
        div(class='section-position')
            div(class='container')
                div(class='row')
                    div(class='col-md-8 ml-auto mr-auto pt-5')
                        h4(class='description text-center') Lorem ipsum dolor amet lomo artisan williamsburg typewriter kogi coloring book, listicle beard you probably haven't heard of them wayfarers yuccie 3 wolf moon small batch YOLO. 90's hammock blue bottle marfa actually enamel pin trust fund semiotics vexillologist knausgaard. 
                div(class='pt-5')
                    div(class='card-deck')
                        div(class='card')
                            img(
                                class='card-img-top',
                                src='.../100px200/',
                                alt='Card image top'
                            )
                            div(class='card-body')
                                h5(class='card-title') Card title 1
                                p(class='card-text') This is placeholder test. Nothing to see here
                        div(class='card')
                            img(
                                class='card-img-top',
                                src='.../100px200/',
                                alt='Card image top'
                            )
                            div(class='card-body')
                                h5(class='card-title') Card title 2
                                p(class='card-text') This is placeholder test. Nothing to see here
                        div(class='card')
                            img(
                                class='card-img-top',
                                src='.../100px200/',
                                alt='Card image top'
                            )
                            div(class='card-body')
                                h5(class='card-title') Card title 3
                                p(class='card-text') This is placeholder test. Nothing to see here
    //------ Modal --------//
    div(class="modal fade" id="regModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
        div(class="modal-dialog" role="document")
            div(class="modal-content")
                div(class="modal-header")
                    h5(class="modal-title" id="exampleModalLabel") Register Below to get started
                    button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true")
                div(class="modal-body")
                    form(action="/signup" method="POST")
                        div(class="form-group")
                            label(for="authEmail") Email
                            input(id="authEmail" class="form-control" type="email" name="email")
                        div(class="form-group")
                            label(for="authName") Name
                            input(id="authName" class="form-control" type="text" name="name")
                        div(class="form-group")
                            label(for="authPassword") Password
                            input(id="authPassword" class="form-control" type="password" name="password")
                            button(type="submit" class="btn btn-primary") Submit
                div(class="modal-footer")
                    button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
//- include partials/footer.pug
