doctype html
html
    head
        meta(
            name='placeholder',
            content='This is my HTML boilerplate'
        )
        meta( charset='utf-8' )
        meta( 
            name='viewport',
            content='width=device-width, initial-scale=1, maximum-scale=1'
        )
        link(
            href='https://fonts.googleapis.com/css?family=Hind+Siliguri:300,400,500,600,700&display=swap',
            rel='stylesheet'
        )
        link(
            rel='stylesheet',
            href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css',
            integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T',
            crossorigin='anonymous'
        )    
        link(
            rel='stylesheet',
            href='css/style.css',
            media='screen'
        )
        title BabbleSmash - Get Smashing
    body
        main
            block content
        script(
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js",
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN",
            crossorigin="anonymous"
        )
        script(
            src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js',
            integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM',
            crossorigin='anonymous'
        )
        script( src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js')
        script( src='js/javascript.js' )
        script(
            src='https://kit.fontawesome.com/1ef47d03cd.js',
            crossorigin="anonymous"
        )
        script. 
            var currentUser = !{JSON.stringify(currentUser)};
            if (alerts.error) {
                alerts.error.forEach(function(msg) {
                    <div class="alert alert-danger"> Danger </div>
                });
            }
            if (alerts.success) {
                alerts.success.forEach(function(msg) {
                    <div class="alert alert-success"> Success </div>
                });
            }

