extends layout

block content
    include partials/usrheader.pug
    div(class='usr container')
        div(class="row flex-xl-nowrap")
            div(class='col-xl-12 col-md-9 py-md-3')
                div(class='row mb-3')
                    div(class='col-md-3 themed-grid-col') Whitespace
                    div(class='col-md-6') Search Bar
                    div(class='col-md-3') Whitespace 
                div(class='row')
                    div(class='col-md-6') 
                        h3(class='text-left') Results
                    div(class='col-md-4') 
                        button(class='btn btn-dark float-right', type='button') Save
                div(class='row mb-3')
                    small(class='text-muted' style='font-size: 80%') For this URL:&nbsp; 
                    a(class='text-muted' style='font-size: 80%' href='#{urlData.url}') #{urlData.url}
                div(class='row mb-3')
                    div(class='col-md-4')
                        if urlData.reactions[0].reaction === 'ahah'
                            div(class='card text-white bg-warning mb-3')
                                div(class='card-body')
                                    i(class='iconsize far fa-laugh')
                                    h5(class='card-title float-right') Good vibes detected
                        else if urlData.reactions[0].reaction === 'wow'
                            div(class='card bg-primary text-white mb-3')
                                div(class='card-body')
                                    i(class='iconsize far fa-surprise')
                                    h5(class='card-title float-right') Sensational!
                        else if urlData.reactions[0].reaction === 'angry'
                            div(class='card bg-warning text-dark mb-3')
                                div(class='card-body')
                                    i(class='iconsize far fa-angry')
                                    h5(class='card-title float-right') Bad vibes detected
                        else if urlData.reactions[0].reaction === 'sad'
                            div(class='card bg-info text-white mb-3')
                                div(class='card-body')
                                    i(class='iconsize far fa-sad-cry')
                                    h5(class='card-title float-right') Heavy hearted, Tear jerker
                        else 
                            div(class='card bg-danger text-white mb-3')
                                div(class='card-body')
                                    i(class='iconsize fas fa-grin-hearts')
                                    h5(class='card-title float-right') Quality
                    div(class='col-md-4')
                        if urlData.reactions[1].reaction === 'ahah'
                            div(class='card text-white bg-warning mb-3')
                                div(class='card-body')
                                    i(class='iconsize far fa-laugh')
                                    h5(class='card-title float-right') Good vibes detected
                        else if urlData.reactions[1].reaction === 'wow'
                            div(class='card bg-primary text-white mb-3')
                                div(class='card-body')
                                    i(class='iconsize far fa-surprise')
                                    h5(class='card-title float-right') Sensational!
                        else if urlData.reactions[1].reaction === 'angry'
                            div(class='card bg-warning text-dark mb-3')
                                div(class='card-body')
                                    i(class='iconsize far fa-angry')
                                    h5(class='card-title float-right') Bad vibes detected
                        else if urlData.reactions[1].reaction === 'sad'
                            div(class='card bg-info text-white mb-3')
                                div(class='card-body')
                                    i(class='iconsize far fa-sad-cry')
                                    h5(class='card-title float-right') Heavy hearted, Tear jerker
                        else 
                            div(class='card bg-danger text-white mb-3')
                                div(class='card-body')
                                    i(class='iconsize fas fa-grin-hearts')
                                    h5(class='card-title float-right') Quality
                    div(class='col-md-4')
                        if urlData.sentiment === 'positive'
                            div(class='card bg-success text-dark mb-3')
                                div(class='card-body')
                                    h5(class='card-title') Sentiment: Positive
                        else if urlData.sentiment === 'negative'
                            div(class='card bg-danger text-white mb-3')
                                div(class='card-body')
                                    h5(class='card-title') Sentiment: Negative
                        else 
                            div(class='card bg-secondary text-white mb-3')
                                div(class='card-body text-center')
                                    h5(class='card-title') Sentiment: Neutral
                div(class='row mb-3')
                    div(class='col-md-8')
                        div(class='card')
                            div(class='card-header') Summary
                            div(class='card-body')
                                h5(class='card-title') #{urlData.summary}
                    div(class='col-md-4')
                        div(class='card')
                            div(class='card-header') Topic Score
                            div(class='card-body')
                                canvas(id='doughnutChart' width='200' height='200')
                div(class='row mb-3')
                    div(class='col-md-6')
                        div(class='card')
                            div(class='card-header') Section 1
                            div(class='card-body')
                                each entity in urlData.entities
                                    if entity.score < 0.5
                                         - break
                                    small(class='text-muted')= entity.name
                                        div(class='progress')
                                            div(
                                                class='progress-bar',role='progressbar',style='width:' + entity.score * 100 + '%',aria-valuenow='0',aria-valuemin='0',aria-valuemax='100'
                                            )= entity.score * 100
                    div(class='col-md-6')
                        div(class='card')
                            div(class='card-header') Section 2
                            div(class='card-body')
                                div(class='card-title') This is a title
                                p(class='card-text') This is some explanation text
                            - var x = 0;
                            ul(class='list-group list-group-flush')
                                while x < 5
                                    li(class='list-group-item')= urlData.entities[x].name
                                    - x++

                                //- each entity in urlData.entities
                                //-     li(class='list-group-item')= entity

                                //- li(class='list-group-item') This is a third point about the results
                div(class='row mb-3')
                    div(class='card-deck')
                        div(class='card')
                            div(class='card-body')
                                div(class='card-title') Wiki article 1
                                p(class='card-text') This card is a place holder. Don't touch
                        div(class='card')
                            div(class='card-body')
                                div(class='card-title') Wiki article 2
                                p(class='card-text') This card is a place holder. Don't touch
                        div(class='card')
                            div(class='card-body')
                                div(class='card-title')
                                p(class='card-text') This card is a place holder. Don't touch
    script. 
        var entity = !{JSON.stringify(urlData.entities)};
        var topics = !{JSON.stringify(urlData.topics)};
   