extends layout

block content
    div(class='container-fluid')
        div(class="row flex-xl-nowrap")
            div(class='col-12 col-md-3 col-xl-2')
                nav(class='nav flex-column')
                    a(class='nav-link active') Active Link
                    a(class='nav-link') Link
                    a(class='nav-link') Link
            div(class='col-12 col-md-9 col-xl-10 py-md-3')
                div(class='row mb-3')
                    div(class='col-md-3 themed-grid-col') Whitespace
                    div(class='col-md-6') Search Bar
                    div(class='col-md-3') Whitespace
                div(class='row')
                    div(class='col-md-6') 
                        h3(class='text-left') Results
                    div(class='col-md-4') 
                        button(class='btn btn-dark float-right', type='button') Save
                div(class='row mb-3')
                    small(class='text-muted') For this URL http://www.test.com
                div(class='row mb-3')
                    div(class='col-md-4 themed-grid-col') Reaction1
                    div(class='col-md-4') Reaction2
                    div(class='col-md-4') Sentiment
                div(class='row mb-3')
                    div(class='col-md-8')
                        div(class='card')
                            div(class='card-header') Header 1
                            div(class='card-body')
                                h5(class='card-title') This is a test
                    div(class='col-md-4')
                        div(class='card')
                            div(class='card-header') Header 2
                            div(class='card-body')
                                h5(class='card-title') This is a test
                div(class='row mb-3')
                    div(class='col-md-6')
                        div(class='card')
                            div(class='card-header') Section 1
                            div(class='card-body')
                                small(class='text-muted') Tag1
                                div(class='progress')
                                    div(
                                        class='progress-bar',
                                        role='progressbar',
                                        style='width: 25%',
                                        aria-valuenow='0',
                                        aria-valuemin='0',
                                        aria-valuemax='100'
                                    ) 25%
                    div(class='col-md-6')
                        div(class='card')
                            div(class='card-header') Section 2
                            div(class='card-body')
                                div(class='card-title') This is a title
                                p(class='card-text') This is some explanation text
                            ul(class='list-group list-group-flush')
                                li(class='list-group-item') This is one point about the results
                                li(class='list-group-item') This is a second point about the results
                                li(class='list-group-item') This is a third point about the results
                div(class='row mb-3')
                    div(class='card-deck')
                        div(class='card')
                            div(class='card-body')
                                div(class='card-title') Wiki article 1
                                p(class='card-text') This card is a place holder. Don't touch
                        div(class='card')
                            div(class='card-body')
                                div(class='card-title') Wiki article 2
                                p(class='card-text') This card is a place holder. Don't touch
                        div(class='card')
                            div(class='card-body')
                                div(class='card-title') Wiki article 3
                                p(class='card-text') This card is a place holder. Don't touch


                